header img{
    width: 200px;
    height: auto;
}
header{
    background: rgb(192, 93, 0);
}
.primary-menu{
    margin-bottom: 0;
}
.primary-menu ul{
    text-align: right;
    margin-bottom: 0;
}
.primary-menu ul li{
    display: inline-block;
    margin-left: -4px;
}
.primary-menu ul li a{
    display: block;
    color: aliceblue;
    font-size: 20px;
    padding: 0px 30px;
    line-height: 67px;
    text-decoration: none;
    border-right: 1px solid whitesmoke;
}
.primary-menu ul li a:hover{
    color: white;
    background-color: rgb(7, 134, 184);
    border-radius: 0 0 25px 25px;
    transition: .2s;
}
.banner{
    background-size: cover;
    background-image: url(images/bg-image-2.jpg);
    padding: 200px;
    background-repeat: no-repeat;
}
.Welcome-one{
    color: aliceblue;
    background-color: rgb(151, 151, 151);
    padding: 10px 30px;
    border-radius: 10px 0 10px 0;
}
.Welcome-two{
    color: aliceblue;
    background-color: rgb(255, 149, 50);
    padding: 10px 30px;
    border-radius: 0 10px 0 10px;
}
.fa-regular{
    color: aliceblue;
    background-color: rgb(224, 94, 8);
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 20px 0 20px 0;
}
.product img{
    width: 500px;
    height: 250px;
    border-radius: 10px;
    padding-bottom: 10px;
}
.fa-brands{
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding-left: 5px;
    padding-top: 25px;
}
footer{
    margin: auto;
    color: aliceblue;
    width: 100%;
    background-color: rgb(252, 125, 21);
}
footer p{
    padding-top: 25px;
}